/*
 * Copyright 2023 Erdinç Taze/Json Yazılım. All rights reserved.
 *
 * Package:JsPress CMS
 * Filename: filemanager.css
 * Author: Json Yazılım
 * Class: filemanager.css
 * Current Username: Erdinc
 * Last Modified: 28.08.2023 20:45
 *
 * Licensed under the JSON_YAZILIM_CMS license, with the following license key: c1244860af21fc4bd511c999f833a3ad7b088909.
 */

#fileManagerContainer u {
    color: #BCBCCB;
    font-size: 12px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 8px 0;
    float: left;
    height: 36px;
}
#mediaDetailModal .modal-body{
    margin: 0 !important;
    padding: 0 !important;
}
#mediaDetailModal .modal-body .imageCropArea{
    padding: 10px !important;
}
.imageCropArea img{
    display: block;
    margin: 0 auto 16px;
    max-width: 100%;
    max-height: calc(100% - 100px);
}
#fileManagerFooter{
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: -1px -3px 17px 1px rgb(65 65 65 / 19%);
}
div#selectedFiles {
    display: flex;
    padding-left: 10px;
}
.selectedFileCount{
    color:#414141;
}
.fileImageWrapper {
    border: 1px dashed #cfcfcf;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
}
.mb-30 {
    margin-bottom: 8rem!important;
}
@media(max-width: 767px){
    #mediaDetailModal .modal-dialog{
        padding: 0 !important;
    }
    #mediaDetailModal .modal-body div#imageDetailBox {
        flex-wrap: wrap;
        max-height: inherit !important;
    }
    #mediaDetailModal .modal-body .imageCropArea,#mediaDetailModal .modal-body .imageSidebarArea{
        width: 100% !important;
        min-height: inherit !important;
    }
    #mediaDetailModal .modal-footer .btn{
        font-size:12px !important;
    }
}
