:root{
    --js-modal-margin: 1.75rem;
    --js-modal-width: 700px;
    --js-modal-bg:#fff;
}
.JsPopup--isOpen{
    overflow: hidden;
}
.JsPopup--overflowScroll {
    overflow: inherit !important;
}
.JsPopup--isOpen .JsPopup{
    overflow-x: hidden;
    overflow-y: auto;
}
.JsPopup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity .3s linear;
}
.JsPopup.show {
    display: block !important;
    opacity: 1;
    z-index: 9999;
}
.JsPopup .JsPopup--dialog{
    max-width: 100%;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.JsPopup--is_approved_btn .JsPopup--body {
    padding-right: 10rem !important;
}
.JsPopup .JsPopup--dialog.JsPopup--screen {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.JsPopup .JsPopup--dialog.JsPopup--lightbox{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    margin: 1.75rem auto;
    min-height: calc(100% - var(--js-modal-margin)* 2);
}
.JsPopup--dialog.JsPopup--tooltip {
    position: absolute;
    bottom: 0;
    max-width: 450px;
}
.JsPopup--dialog.JsPopup--bar {
    position: absolute;
    left:0;
    right:0;
    width: 100%;
}
.JsPopup--place--right {
    right: 0;
}
.JsPopup--place--left {
    left: 0;
}
.JsPopup--place--top {
    top: 0;
}
.JsPopup--place--bottom {
    bottom: 0;
}
.JsPopup--content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    background-color: var(--js-modal-bg);
}
.JsPopup .JsPopup--dialog.JsPopup--lightbox .JsPopup--content {
    box-shadow: 1px 1px 17px 6px rgb(65 65 65 / 28%);
}
.JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--content {
    padding: 5rem;
    max-height: 100%;
    overflow: auto;
}
.JsPopup--dialog.JsPopup--tooltip .JsPopup--content, .JsPopup--dialog.JsPopup--bar .JsPopup--content  {
    max-height: 400px;
    overflow: auto;
}
.JsPopup--dialog.JsPopup--content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.JsPopup--dialog .JsPopup--content::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.JsPopup--dialog .JsPopup--content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #252525;
}
.JsPopup--dialog .JsPopup--content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.JsPopup--header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 1rem 1rem;
    height: 40px;
    border-bottom: 1px solid #eee;
}
.JsPopup--header.fadeIn, .JsPopup--body.fadeIn {
    animation: fadeIn 4s;
}
.JsPopup--header.fadeInLeft, .JsPopup--body.fadeInLeft {
    animation: fadeInLeft 2s;
}
.JsPopup--header.fadeInRight, .JsPopup--body.fadeInRight {
    animation: fadeInRight 2s;
}
.JsPopup--header.fadeInDown, .JsPopup--body.fadeInDown {
    animation: fadeInDown 2s;
}
.JsPopup--header.fadeInUp, .JsPopup--body.fadeInUp {
    animation: fadeInUp 2s;
}
.JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--header {
    padding: 0;
    height: auto;
    border-bottom: none;
}
.JsPopup--header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
}
.JsPopup--body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
}
button.JsPopup-closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    border: none;
    border-left: 1px solid #eee;
    color: #676767;
    transition: all .5s ease;
    line-height: 1rem;
    height: 39px;
}
button.JsPopup-closeBtn:hover {
    opacity: 0.8;
}
button.JsPopup-closeBtn:after {
    content: 'x';
    font-size: 24px;
}
.JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--content button.JsPopup-closeBtn {
    position: relative;
    width: auto;
    text-align: right;
}
.JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--content button.JsPopup-closeBtn:hover{
    transform:none;
}
.JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--content button.JsPopup-closeBtn:after{
    content:none;
}
.JsPopup button.JsPopup-approvedBtn {
    width: auto !important;
    top: 25% !important;
    z-index: 9999;
    right: 10px !important;
}
.JsPopup-approvedBtn:after {
    content: none !important;
}
.JsPopup--timer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
span.JsPopup--timer--span > span {
    margin-right: 3px;
}
@media (max-width: 1024px) {
    .JsPopup .JsPopup--dialog.JsPopup--lightbox {
        margin: 0 .5rem;
    }
    .JsPopup--dialog.JsPopup--tooltip {
        max-width: 350px;
    }
    .JsPopup--is_approved_btn .JsPopup--body {
        padding-right: inherit !important;
        padding-bottom: 2rem !important;
    }
    .JsPopup-approvedBtn {
        width: 100% !important;
        bottom: 0 !important;
        z-index: 9999;
        right: 0 !important;
        top: inherit !important;
    }
    .JsPopup .JsPopup--dialog.JsPopup--screen{
        align-items: start;
    }
    .JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--content {
        padding: 1rem;
    }
    .JsPopup .JsPopup--dialog.JsPopup--screen .JsPopup--body {
        height: auto !important;
        flex: none;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
