/*
 * Copyright 2023 Erdinç Taze/Json Yazılım. All rights reserved.
 *
 * Package:JsPress CMS
 * Filename: style.css
 * Author: Json Yazılım
 * Class: style.css
 * Current Username: Erdinc
 * Last Modified: 9.09.2023 14:24
 *
 * Licensed under the JSON_YAZILIM_CMS license, with the following license key: c1244860af21fc4bd511c999f833a3ad7b088909.
 */

.error {
    color: #e73e3e;
}
progress::-webkit-progress-bar {
    background: #eee !important;
}
.green::-webkit-progress-value {
    background: #1bbb5b !important;
}
.orange::-webkit-progress-value {
    background: #e3931b !important;
}
.red::-webkit-progress-value {
    background: #e31b1b !important;
}
progress {
    width: 100%;
    height: 8px;
    display: block;
    margin-top: 8px;
    appearance: none;
    background-color: #eee;
    border: 1px solid #eee;
}
.single_file_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 1px solid #4d5156;
    padding: 5px;
    border-radius: 10px;
}
.google {
    font-family: arial, sans-serif;
    color: #1a0dab;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0px;
    display: inline-block;
    overflow: hidden;
    max-width: 600px;
    vertical-align: top;
    text-overflow: ellipsis;
}
.google-desc {
    color: #bcc0c3;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.google-image-logo{
    background-color: #fff;
    border: 1px solid #3c4043;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin-right: 12px;
    vertical-align: middle;
}
label#slug-error {
    display: flex;
    width: 100%;
    margin-top:5px;
}
.tox-tinymce {
    height: 250px !important;
}
.deleteGalleryImage{
    position:absolute;
    bottom:5px;
    right:5px;
}
div#imageList img {
    width: 85px;
}
.gallery_file_images.file_uploads img {
    width: 100px;
    padding: 5px;
}
.gallery_file_images.file_uploads .fileNameSpan {
    width: 95px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div#category_table_info {
    display: none !important;
}
.gallery_file_images.draggable-zone {
    display: flex;
    flex-wrap: wrap;
}
body.dark_theme progress::-webkit-progress-bar{
    background: #151521 !important;
}
body.dark_theme progress{
    background: #151521 !important;
    border: 1px solid #1e1e2d;
}
body.dark_theme .google{
    color:#8ab4f8;
}
body.dark_theme .google-desc{
    color:#bdc1c6;
}
.uploadedVideoField video {
    width: 90%;
    height: 220px;
    object-fit: fill;
    overflow: hidden;
}
.galleryImageContainer {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px !important;
}

